<div class="container portfolio-spacer">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <h4>Create a new Portfolio Item</h4>
    </div>
  </div>
</div>

<%= render 'portfolios/form', portfolio_item: @portfolio_item %>

