<%# The source_helper is located in application_helper.rb %>
<footer class="mastfoot mt-auto">
  <div class="inner">
    <%= copyright_generator %>&nbsp;&nbsp;&nbsp;&nbsp;<%= source_helper("application") %>
  </div>
</footer>