<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Engineering Talks</h1>
    <p class="lead blog-description">Clear and concise tops that can expand your horizons and point you on a productive path</p>
    <span class="blog-masthead-links">
      <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
    </span>&nbsp;&nbsp;&nbsp;
    <span class="blog-masthead-links">
      <%= link_to "Topics", topics_path %>
    </span>
  </div>
</div>