<footer class="blog-footer">
  <p>
    <%= copyright_generator %>
  </p>
  <p>
    <a href="#" class="btn btn-sm btn-dark">Back to top</a>
    <%= link_to 'Back To Blogs', blogs_path, class: 'btn btn-sm btn-secondary' %>
  </p>
</footer>