<div class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">Our Mission</h4>
        <p class="text-muted">At the end of the day, to do whatever it takes to assist our clients acheive excellence through sustainable processes. To provide consistent quality and meet the needs our rapidly growing client base.</p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <h4 class="text-white">Explore</h4>
        <ul class="list-unstyled">
          <%= nav_helper 'nav-portfolio-roller', 'li' %>
          <li><%= login_helper "nav-portfolio-roller" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>