<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Our Work Porfolio</h1>
    <p class="lead text-muted">You need a service company that can be there on time and ready with the experience and knowledge required to complete the job. Not only that, you need a company that focuses on delivering results that are simple yet elegant, fast but precise, and on budget. Let FuelCNC be that company.</p>
    <p>
      <%= link_to "Learn More About Our Services", root_path, class: 'btn btn-secondary my-2' %>
      <%= link_to "Learn More At Our Blog", root_path, class: 'btn btn-secondary my-2' %>
    </p>
  </div>
</section>