<main role="main" class="inner cover">
    <h1 class="cover-heading">About Fuel<span class="nav-brand-custom">CNC</span></h1>
    <hr>
    <div class="row">
      <div class="col-sm-5">
        <p><%= image_tag "frustrated-man-on-computer_925x.jpg", width: '300', height: '250' %></p>
      </div>
      <div class="col-sm-7">
        <p class="lead lead-color">For over 30 years we have worked with clients all over the world improving the bottom line and increasing throughput via Lean Manufacturing Stategies.</p>
        <p>Whether it be prodution teams, maintenance teams, or management teams we have a unique approach that acheives success rapidly. No one likes to work for months and months only to find out you have minimal if non-existent improvements.</p> 
    
        <p>By isolating issues quickly and following with immediate corrective action we can give your team a real sense of success. This reward pattern allows focus to stay where it needs to be by keeping your team fully engaged in the process.</p>
      </div>
    </div>
    
</main>
