<main role="main" class="inner cover">

  <h1 class="cover-heading">How would you like to work together?</h1>
  <hr>
    <div class="row">
      <div class="col-sm-6">
        <h4>Office Address</h4>

        <p>1206 Todville Road, Seabrook, Texas 77586</p>

        <h4>Phone</h4>

        <p><%= number_to_phone "123-555-1234" %></p>

        <h4>Email</h4>

        <p><a href="mailto:bob@bob.com?subject=Portfolio Contact">Email Me</a></p>
      </div>

      <div class="col-sm-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3470.5786011672176!2d-95.01912004904185!3d29.55776398197385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x863f63aae7860879%3A0x36fc09ecb2268fc8!2s1206+Todville+Rd%2C+Seabrook%2C+TX+77586!5e0!3m2!1sen!2sus!4v1548165956657" width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
 
</main>
