  <main role="main" class="inner cover">
    <h1 class="cover-heading">Lean 6 Sigma News</h1>
    <div class="row">
      <% @tweets.each do |tweet| %>
        <div class="col-sm-6">
          <div class="card bg-dark">
            <div class="card-body text-light tech-news-text">
              <%= twitter_parser tweet %>
            </div>
          </div>
          <br/>
        </div>
      <% end %>
    </div>
  </main>


